@font-face {
    font-family:"Quicksand-Bold";
    src: url("../Quicksand-Bold.otf") format("truetype");
}

body{
    background: -moz-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,191,194,1)), color-stop(100%, rgba(153,218,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

    font-family:"Quicksand-Bold";
}

h2 {
    margin-top: 8px;
    font-size: 18px;
    color: #fff;
}

#almiLogo{width: 600px; height: auto; margin-top: 15%;}
.StartButtonDiv{margin-top: 5%;}

.startbuttons {
    background-color: #0b787f;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 5px;
    border: 0px;
    cursor: pointer;
    width: 230px;
}


.footer {
    background-color: #4c4c4c;
    margin-top: 195px;
}

.footer-text {
    color: #fff;
    padding: 40px;
    margin: 0;
}
