@font-face {
    font-family:"Quicksand-Bold";
    src: url("../Quicksand-Bold.otf") format("truetype");
}

body {
    background: -moz-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,191,194,1)), color-stop(100%, rgba(153,218,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

    font-family: "Quicksand-Bold";
    width: 100%;
    color: #4c4c4c;
    margin-bottom: 60px; /* Margin bottom by footer height. */
}

html {
    position: relative;
    min-height: 100%;
}

.button-custom {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 0;
    cursor: pointer;
}
.button-custom:hover {
    border-radius: 0;
    color: white;
    border: 0;
    cursor: pointer;
}
.center {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    
}

.logo {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.hover:hover {
    background-color: #1dade2 !important;
    text-decoration: none !important;
}

.progress {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: green;
}

.level-btn {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 100px;
    background-color: #1388ae;
    color: #fff;
    cursor: pointer;
}

.text-box {
    background-color: #fff;
    border: 0.5px solid;
    border-color: #cacaca;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.title {
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 50px;
}

.text {
    padding: 10px;
}

.current {
    background-color: #095973;
}

.checked {
    background-color: green;
}

.read {
    background-color: green !important;
    color: white !important;
}

.navbar-menu-toggler {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 20px 20px;
}

.navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
    border-left: 2px solid #ccc;
    background-color: #23C3FF;
    overflow-y: scroll;
    z-index: 1000;
}
.navbar-side-item {
    margin: 0;
    border-bottom: 0;
    height: 4rem;
}
.navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
    border-left: 2px solid #ccc;
    background-color: #23C3FF;
    overflow-y: scroll;
    z-index: 1000;
}
.navbar-side-item {
    margin: 0;
    border-bottom: 0;
    height: 4rem;
}
.navbar-toggler {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 20px 20px;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #000;
    opacity: 0.3;
    z-index: 990;
}

.side-link {
    padding-left: 2rem;
}

.navbar-side {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.side-link {
    padding-left: 2rem;
}


.toggle-btn {
    width: 80px;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    color: #4c4c4c;
    cursor: pointer;
    right 0;
    bottom: 0;

    position: absolute;
    bottom: 20px;
    right: 20px;
}

/***** Footer *****/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here. */
    line-height: 60px; /* Vertically center the text there. */
    background-color: #f5f5f5;
    margin-top: 20px;
}

/* FONT COLOURS */

.white {
    color: white;
}
.black {
    color: black;
}
.red {
    color: red;
}
.green {
    color: green;
}
