@font-face {
    font-family:"Quicksand-Bold";
    src: url("../Quicksand-Bold.otf") format("truetype");
}
* {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: -moz-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(12,191,194,1)), color-stop(100%, rgba(153,218,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1) 100%); /* w3c */
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    font-family:"Quicksand-Bold";
}


.test {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/

}
.center {
    text-align: center;
}



.component {
    position: relative;
    margin-bottom: 3em;
    height: 15em;
    background: rgba(0,0,0,0.05);
    font-family: 'Lato', Arial, sans-serif;
}

.component > h2 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 300;
    font-style: italic;
    font-size: 12em;
    opacity: 0.1;
    cursor: default;
}


.cn-button {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 11;
    margin-top: -2.25em;
    margin-left: -2.25em;
    padding-top: 0em;
    width: 4.5em;
    height: 4.5em;
    border: none;
    border-radius: 50%;
    background: none;
    background-color: #fff;
    color: #1dade2;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}

.csstransforms .cn-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 27em;
    height: 27em;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    -webkit-transition: all .3s ease 0.3s;
    -moz-transition: all .3s ease 0.3s;
    transition: all .3s ease 0.3s;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
    content:".";
    display:block;
    font-size:2em;
    width:6.2em;
    height:6.2em;
    position: absolute;
    left: 50%;
    margin-left: -3.1em;
    top:50%;
    margin-top: -3.1em;
    border-radius: 50%;
    z-index:10;
    color: transparent;
}

.csstransforms .opened-nav {
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(76deg) skew(60deg);
    -moz-transform: rotate(76deg) skew(60deg);
    -ms-transform: rotate(76deg) skew(60deg);
    transform: rotate(76deg) skew(60deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    pointer-events: none;
}

.csstransforms .cn-wrapper li a {
    position: absolute;
    right: -7.25em;
    bottom: -7.25em;
    display: block;
    width: 14.5em;
    height: 14.5em;
    border-radius: 50%;
    background: #ad5389;
    background: -webkit-radial-gradient(transparent 35%, #23C3FF 35%);
    background: -moz-radial-gradient(transparent 35%, #23C3FF 35%);
    background: radial-gradient(transparent 35%, #23C3FF 35%);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2;
    -webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
    -moz-transform: skew(-60deg) rotate(-75deg) scale(1);
    -ms-transform: skew(-60deg) rotate(-75deg) scale(1);
    transform: skew(-60deg) rotate(-75deg) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: .5em;
    font-weight: 700;
    text-transform: uppercase;
}
.long {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: .45em !important;
    font-weight: 700;
    text-transform: uppercase;
}
.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
    background: -webkit-radial-gradient(transparent 35%, #1dade2 35%);
    background: -moz-radial-gradient(transparent 35%, #1dade2 35%);
    background: radial-gradient(transparent 35%, #1dade2 35%);
}
.csstransforms .cn-wrapper li a:focus {
    position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
    -webkit-transition: all .3s ease .3s;
    -moz-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
    -webkit-transform: rotate(-20deg) skew(60deg);
    -moz-transform: rotate(-20deg) skew(60deg);
    -ms-transform: rotate(-20deg) skew(60deg);
    transform: rotate(-20deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(2) {
    -webkit-transform: rotate(12deg) skew(60deg);
    -moz-transform: rotate(12deg) skew(60deg);
    -ms-transform: rotate(12deg) skew(60deg);
    transform: rotate(12deg) skew(60deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
    -webkit-transform: rotate(44deg) skew(60deg);
    -moz-transform: rotate(44deg) skew(60deg);
    -ms-transform: rotate(44deg) skew(60deg);
    transform: rotate(44deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(4) {
    -webkit-transform: rotate(76deg) skew(60deg);
    -moz-transform: rotate(76deg) skew(60deg);
    -ms-transform: rotate(76deg) skew(60deg);
    transform: rotate(76deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(5) {
    -webkit-transform: rotate(108deg) skew(60deg);
    -moz-transform: rotate(108deg) skew(60deg);
    -ms-transform: rotate(108deg) skew(60deg);
    transform: rotate(108deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(6) {
    -webkit-transform: rotate(140deg) skew(60deg);
    -moz-transform: rotate(140deg) skew(60deg);
    -ms-transform: rotate(140deg) skew(60deg);
    transform: rotate(140deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(7) {
    -webkit-transform: rotate(172deg) skew(60deg);
    -moz-transform: rotate(172deg) skew(60deg);
    -ms-transform: rotate(172deg) skew(60deg);
    transform: rotate(172deg) skew(60deg);
}
.hover:hover {
    text-decoration: none;
    background-color: rebeccapurple;
}
.footer {
    background-color: #4c4c4c;
    position: fixed;
    width: 100vw;
    bottom: 0 !important;
}

.footer-text {
    color: #fff;
    padding: 40px;
    margin: 0;
}
.hidden {
    background-color: transparent;
}

.button-custom {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 0;
}


.modal {

}
.modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.modal-content {
    margin-top: 5vw;
    margin-left: 15vw !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70vw;
    border-radius: 0;
    box-shadow: none;
    background: -moz-linear-gradient(259deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1)); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e10a3b), color-stop(100%, #c7004e)); /* safari4+,chrome */
    background: -webkit-linear-gradient(259deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1)); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(259deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1)); /* opera 11.10+ */
    background: -ms-linear-gradient(259deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1)); /* ie10+ */
    background: linear-gradient(191deg, rgba(153,218,255,1) 0%, rgba(12,191,194,1)); /* w3c */
}
.modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    background: #6598d9;
    border: 0;
}
.modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
}
.modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    font-weight: 300;
    overflow: auto;
    color: white;

}

.hover:hover {
    background-color: #1dade2 !important;
    text-decoration: none !important;
}

.navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
    border-left: 2px solid #ccc;
    background-color: #23C3FF;
    overflow-y: scroll;
    z-index: 1000;
}
.navbar-side-item {
    margin: 0;
    border-bottom: 0;
    height: 4rem;
}

.side-link {
    padding-left: 2rem;
}

.navbar-toggler {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 20px 20px;
}
.navbar-menu-toggler {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 20px 20px;
}
.navbar-side {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #000;
    opacity: 0.3;
    z-index: 990;
}



.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal .modal-content {
    min-height: 60vh;
}



/* Basic fallback for non-supporting browsers */

.no-csstransforms .cn-wrapper {
    margin: 10em auto;
    overflow: hidden;
    text-align: center;
    padding: 1em;
}

.no-csstransforms .cn-wrapper ul {
    display: inline-block;
}

.no-csstransforms li {
    font-size: 1em;
    width: 5em;
    height: 5em;
    float: left;
    line-height: 5em;
    text-align: center;
    background-color: #fff;
}

.no-csstransforms li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-button {
    display: none;
}


/* MOBILE STYLING */

@media only screen and (max-width: 500px) {
    .modal .modal-content {
        min-height: 100vh;
    }
    .navbar-side {
        width: 100%;
    }

    .navbar-toggler {
        padding: 20px 20px;
    }
    .navbar-toggle {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 768px) {
    .modal .modal-content {
        min-height: 100vh;
        margin: 0;
    }
    .navbar-side {
        width: 50%;
    }

    .navbar-toggler {
        padding: 20px 20px;
    }
    .navbar-toggle {
        padding: 20px 20px;
    }
}
@media only screen and (max-width: 1366px) {
    .modal .modal-content {
        margin-top: 60px;
        min-height: 60vh;
    }
    .navbar-side {
        width: 50%;
    }

    .navbar-toggler {
        padding: 20px 20px;
    }
    .navbar-toggle {
        padding: 20px 20px;
    }
}
@media only screen and (max-width: 500px) {
    .navbar-side {
        width: 100%;
    }

    .navbar-toggler {
        padding: 20px 20px;
    }
    .navbar-toggle {
        padding: 20px 20px;
    }
    .modal .modal-content {
        min-height: 100vh;
        margin: 0 !important;
    }
}
@media only screen and (max-width: 600px) {
    .no-csstransforms li {
        width: 4em;
        height: 4em;
        line-height: 4em;
    }
    .modal .modal-content {
        min-height: 100vh;
        margin: 0 !important;
    }
    .mobile {
        max-width: 60% !important;
    }
}

@media only screen and (max-width: 500px) {
    .no-csstransforms .cn-wrapper {
        padding: .5em;
    }
    .no-csstransforms .cn-wrapper li {
        font-size: .9em;
        width: 4em;
        height: 4em;
        line-height: 4em;
    }
    .modal .modal-content {
        min-height: 100vh;
        margin: 0 !important;
    }
    .font-mobile-h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .csstransforms .cn-wrapper {
        font-size: .68em;
    }
    .cn-button {
        font-size: 1em;
    }
    .modal .modal-content {
        min-height: 100vh;
        margin: 0;
    }
}

@media only screen and (max-width: 420px) {
    .no-csstransforms .cn-wrapper {
        width: 100%;
        height: 3em;
        line-height: 3em;
    }
}




/* FONT COLOURS */

.white {
    color: white;
}
.black {
    color: black;
}
.red {
    color: red;
}
.green {
    color: green;
}